<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AccuTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C390093D1C8E54DB00BB8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C39009511C8E54DC00BB8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C390095C1C8E54DC00BB8D71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
